* {
  margin: 15px;
  padding: 0%;
  box-sizing: border-box
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  border-color: beige;
  border-radius: 50px;
  border: 4px;
  margin: 8px;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
  margin-top: 60;
  font-size: large;
  font-family: sans-serif;
}

header {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(/imagenes/fondoheader.png);
  align-items: center;
  width: 100%;
  font-size: 25px;
  padding: 0.5em;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .matecito {
  display: flex;
  color: white;
  margin: 5%;
  padding: 1%;
}



.matecito p{
  color: white;
}


.intro{

  margin-top: 80;
  font-family: sans-serif;

}
.agenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

subtitle {
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: x-large;
}

ul {
  color: white;
  text-align: center;
}

ul li {
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  color: white;
  text-align: center;
}

/* fin de index */
/*premios*/
.titulopremios {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* fin de premios */
/* inicia librografia */
.tbody {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.flex-item21 {
margin-top: initial;

}

.masinfo{
  display: flex;
  flex-direction: column;
}

.titulo-librografia {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
margin-top: 20;
}

.container2 {
  text-align: center;
  padding: 10;
}

.libros {
text-align: center;
}

p {
margin-top: 20;
padding: 5;
}
  
.flex-item23 {
margin-top: -10;
}

.flex-item24 {
  margin-top: auto;
}

.flex-item21 {
margin-top: -10;
}

.flex-item26 {
margin-top: auto;
}

.flex-item25 {
  margin-top: -20;
}


/* fin de librografia */
/* inicio historia*/
.historia {
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  width: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.flex-container-flex-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.flex-item img {
  width: 224px;
  height: 224px;
}

.miHistoria{
  color: white;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* fin historia */
/* inicio contacto */
.display-mobile {
  display: none;
}

/* contacto */
.textarea {
  padding: 20;
  margin: 35px;
}

.titlebox {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comentarios {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comentarios textarea {
  width: 583px;
  height: 162px;
}

.subtitle-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.enviar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  size: 10px 15px;
}

.container-fluid-navbar-nav {
  display: -ms-grid;
  display: grid;
  padding: 00.5em;
  gap: 20px;
}

.navbar-nav a {
  gap: 2px;
  display: -ms-grid;
  display: grid;
  padding: 00.5em;
}

.container4 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}



/* fin contacto*/
/* desktop */

#licha{
  display: grid;
  grid-template-columns: 0.2fr 1.98fr;
  color: white;
}

@media screen and (max-width:578px) {

  header{
    grid-template-columns: 1fr;
    text-align: center;
  }

  #licha{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  footer{
    display: flex;
  }
  
}

/*# sourceMappingURL=estilos.css.map */


